:host {
   .eln-hero {
       padding-top: 50px;
        height: 95vh;
        background: 
        // no-repeat 85% 45% / 30%  url(/assets/img/hero_hamburger.png),
        no-repeat top right / contain url(/assets/img/svg/Subtract.svg);
   }

   .text-box {
        top: 40%;
        left: 0;
        height: 100%;
        // transform: translate(-50%, -50%);
    }

    .heading-main {
        font-size: 3.75rem;
        position: relative;
        &::after {
            content: '';
            display: inline-block;
            height: 50px;
            width: 60%;
            left: 0;
            position: absolute;
            bottom: 0;
            z-index: -1;
            background-color: var(--yellow);
        }
    }

    .heading-sub {
        font-size: 18px;
    }

    @media screen and (max-width: 600px) {

        .heading-main {
            font-size: 2.2rem;
            &::after {
                content: '';
                display: inline-block;
                height: 35px;
                left: 0;
                bottom: 0;
            }
    
            span {color: #000;}
        }
    
        .heading-sub {
            font-size: 18px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {

        .eln-hero {
             background: 
             no-repeat top right / 70% url(/assets/img/svg/Subtract.svg);
             background-position-x: 140%;
        }

        .heading-main {
            font-size: 3rem;
            &::after {
                content: '';
                display: inline-block;
                height: 35px;
                left: 0;
                bottom: 0;
            }
    
            span {color: #000;}
        }
    
        .heading-sub {
            font-size: 18px;
        }
    }
}