<header class="eln-hero">
  <div class="container position-relative h-100">
    <!-- <div class="text-box">
      <div class="row">
        <div class="col-12">
          <h1>Un nuevo <br> sabor esta en <br> la ciudad</h1>
        </div>
        <div class="col-12">
          <p>Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.</p>
        </div>
      </div>
    </div> -->

    <div class="row align-items-center text-box">
      <div class="col-12 order-1 col-md-6 order-md-0">
        <h1 class="heading-main">Un nuevo <br> sabor esta en <br>  <span class="bg-warning">la ciudad</span></h1>
        <p class="heading-sub w-75">Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.</p>
        <a class="" href="#">Encuentranos</a>
      </div>
      <div class="col-12 order-0 col-md-6 order-md-1">
        <img src="assets/img/hero_hamburger.png" class="img-fluid" alt="Hamburger">
      </div>
    </div>
  </div>
</header>