<section id="testimonials" class="position-relative">
    <img class="img-left d-none d-md-block" src="/assets/img/svg/ketchup.svg" alt="ketchup">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="testimonial-slide py-5 text-center">
                            <p class="heading-main h3">“El mejor lugar para degustar en familia y amigos!”</p>
                            <p class="eln-text-main">Es el mejor lugar al que he venido con mi familia, la comida es rica, sirven rápido y te atienden de la mejor manera. </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="testimonial-slide py-5 text-center">
                            <p class="heading-main">“El mejor lugar para degustar en familia y amigos!”</p>
                            <p>Es el mejor lugar al que he venido con mi familia, la comida es rica, sirven rápido y te atienden de la mejor manera. </p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="testimonial-slide py-5 text-center">
                            <p class="heading-main">“El mejor lugar para degustar en familia y amigos!”</p>
                            <p>Es el mejor lugar al que he venido con mi familia, la comida es rica, sirven rápido y te atienden de la mejor manera. </p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <img class="img-ketchup  d-none d-lg-block" src="/assets/img/testimonials_bg_ketchup.png" alt="Ketchup bottle">
    <img class="img-right d-none d-md-block" src="/assets/img/svg/ketchup.svg" alt="ketchup">
</section>