<header class="eln-hero">
  <div class="container position-relative h-100">

    <div class="row align-items-center text-box">
      <div class="col-12 order-1 col-md-6 order-md-0">
        <h1 class="heading-main" data-scroll="in" data-splitting>Cada sabor <br> es una nueva <br> <span>experiencia</span></h1>
        <p class="heading-sub eln-text-main w-75">Estamos a punto de descubrir un mundo lleno de sabores y de emociones inigualables.</p>
      </div>
      <div class="col-12 order-0 col-md-6 order-md-1">
        <img src="assets/img/hero_hamburger_menu.png" class="img-fluid" alt="Hamburger">
      </div>
    </div>
  </div>
</header>