:host {
    .search-input{
        position: relative;

        .bi {
            position: absolute;
            left: 20px;
            top: 6px;
        }

        input {
            background: #F8F8F8;
            border: 1px solid #C4C4C4;
            padding: 8px 30px;
            border-radius: 8px;
            outline: none;
        }
    }

    .filter-controls {
        .btn {
            font-family: 'Syne';
            font-weight: bold;
            font-size: 18px;
            position: relative;
            box-shadow: none;
        }

        .btn-check:checked + .btn::after {
            content: '';
            display: inline-block;
            height: 6px;
            width: 100%;
            left: 0;
            top: 17px;
            position: absolute;
            z-index: -1;
            background-color: var(--yellow);
        }

        .filter-btn {
            background: no-repeat url(/assets/img/svg/sliders.svg);
            background-position: center;
            height: 100%;
            width: 100%;

            &::after {
                display: none;
            }
        }
    }

    .not-found-message {
        span {
            font-family: 'Syne';
            font-size: 18px;
            font-weight: bold;
        }

        p {
            font-family: 'Open Sans';
        }
    }

    .pagination {

        .page-item {
            font-family: 'Open Sans';
            margin: 0 5px;
            font-size: 1.25rem;
            
            .page-link {
                border-radius: 4px;
                color: #000;

                &:focus {
                    box-shadow: none;
                }
            }

            &.disabled {
                display: none;
            }
        }
        
        .page-item:first-child button,
        .page-item:last-child button {
            background-color: #FFF1BF;
            color: #000;
            border-color: transparent;

            &:hover {
                background-color: var(--yellow);
            }
        }


    }
}