<section id="about" class="my-5">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 position-relative">
                <h2 class="heading-about-main">
                    La comida es <br><span>nuestro arte </span>
                </h2>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center px-5">
                <h3 class="text--fading" data-scroll="out" data-splitting>¿Quién es Foodies?</h3>
    
                <p class="eln-text-main">Elit irure ad nulla id elit laborum nostrud mollit irure. Velit reprehenderit sunt nulla enim aliquip duis tempor est culpa fugiat consequat culpa consectetur Lorem. Reprehenderit dolore culpa irure eiusmod minim occaecat et id minim ullamco. </p>
    
                <a class="eln-main-link" href="">Contáctanos</a>
            </div>
        </div>
    </div>
</section>