<footer>
    <div class="container">
        <div class="d-flex align-items-center justify-content-center justify-content-md-between flex-wrap">
            <span class="heading-main h3">Foodies</span>
    
            <div class="links justify-content-center d-flex flex-wrap">
                <a href="">
                    <img class="img-fluid" src="/assets/img/appstore.png" alt="Apple app store">
                </a>
                <a href="">
                    <img class="img-fluid mt-3 mt-md-0 ms-md-3" src="/assets/img/googleplay.png" alt="Google play store">
                </a>
            </div>
        </div>
    </div>
    <hr class="mx-5">
    <div class="container">
            <ul class="row list-unstyled justify-content-center justify-content-md-start footer-links">
                <li class="col-12 text-center text-md-start col-md-auto" ><a href="#locations">Conoce nuestras sucursales</a></li>
                <li class="col-12 col-md-auto text-center text-md-start"><a href="#about">Acerca de</a></li>
                <li class="col-12 col-md-auto text-center text-md-start"><a href="#testimonials">¿Qué hablan de nosotros?</a></li>
                <li class="col-12 col-md-auto text-center text-md-start"><a href="#contact">Contactanos</a></li>       
            </ul>
    </div>
</footer>