<section id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5">
                <img class="position-relative mockup-img" src="/assets/img/mockup.png" alt="App mockup">
            </div>
            <div class="col-12 col-lg-7">
                <h2 class="text--fading text-center heading-main my-5"  data-scroll="out" data-splitting="">Obten más beneficios <br>
                    Descarga nuestra App</h2>

                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 text-center mb-5 benefit-card">
                        <div class="benefit-index mx-auto"><span>01</span></div>
                        <strong>Solicita rápido</strong>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, itaque!</p>
                    </div>
                    <div class="col-12 col-lg-6 text-center mb-5 benefit-card">
                        <div class="benefit-index mx-auto"><span>02</span></div>
                        <strong>Fácil de usar</strong>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, obcaecati?</p>
                    </div>
                    <div class="col-12 col-lg-6 text-center benefit-card">
                        <div class="benefit-index mx-auto"><span>03</span></div>
                        <strong>Promociones especiales</strong>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, fugit!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>