<section id="contact">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12  col-lg-8" *ngIf="!messageSent; else isSent">
                <header class="mb-5">
                    <h2 class="text--fading text-center heading-main" data-scroll="out" data-splitting="">Cuentanos tu experiencia</h2>
                    <p class="text-center">Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.</p>
                </header>

                <form  [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="row align-items-stretch form-grid">
                        <div class="col-12 col-lg-4">
                            <div class="form-group mb-3">
                                <label for="name">Nombre y Apellido</label>
                                <input type="text" formControlName="name" placeholder="John Doe" class="w-100" id="name">
                            </div>

                            <div class="form-group">
                                <label for="email">Correo electrónico</label>
                                <input type="email" formControlName="email" placeholder="j.doe@correo.com" class="w-100" id="email">
                            </div>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="form-group h-100 d-flex flex-column">
                                <label for="message">Mensaje</label>
                                <textarea name="" id="message" formControlName="message" class="w-100 flex-grow-1" placeholder="El día de ahora mi experiencia fue..."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <button [disabled]="!contactForm.valid" class="submit-btn ms-auto">Enviar comentarios</button>
                    </div>
                </form>
            </div>

            <ng-template #isSent>
                <div class="col-12 text-center confirm-message">
                    <img src="/assets/img/svg/mail.svg" class="img-fluid " alt="email sent">
    
                    <h3 class="mt-4">Gracias por tus comentarios</h3>
                    <p class="mb-5">Don't miss out on our great offers & Receive deals from all our top restaurants via e-mail.</p>
    
                    <a routerLink="/menu" class="submit-btn ms-auto text-decoration-none">Conoce nuestro menu</a>
                </div>
            </ng-template>
        </div>
    </div>
</section>