:host {
    .location-card {
        padding: 15px 20px;
        border: 1px solid #000000;
        border-radius: 4px;
        margin: 10px 0;

        &:hover{
            background-color: #FFF1BF;
            border-color: transparent;
            cursor: pointer;
        }

        .location-name {
            font-family: 'Syne';
            font-size: 20px;
            font-weight: bold;
        }

        .location-details {
            font-family: 'Open Sans';
        }
    }
}